extends layout

append scripts
	link(rel="stylesheet", href="/index.css")

block header
	h1 #{title}
	a(href="/profiles") Users

block content
	#main
		#flower_shop
			.center
				h3 Flower Shops
				form(name="loginForm", action="/login/flowershop", method="post")
					input(type="text", name="username", id="username", value="", placeholder="Username")
					input(type="password", name="password", id="password", value="", placeholder="Password")
					#buttonWrapper
						input(type="submit", name="loginButton", id="loginButton", value="", value="Login")
						input(type="button", name="registerButton", id="registerButton", value="", value="Create a Flowershop")
		#divider
			#innerDivider
		#driver
			.center
				h3 Delivery Drivers
				form(name="loginForm", action="/login", method="post")
					input(type="text", name="username", id="username", value="", placeholder="Username")
					input(type="password", name="password", id="password", value="", placeholder="Password")
					#buttonWrapper
						input(type="submit", name="loginButton", id="loginButton", value="", value="Login")
						input(type="button", name="registerButton", id="registerButton", value="", value="Register as a Driver")

block footer